[package]
name = "flasher-stub"
version = "0.1.0"
edition = "2021"
rust-version = "1.60"
license = "MIT OR Apache-2.0"
categories = ["embedded", "no-std"]
exclude = [".github/", "esptool.patch"]

[dependencies]
critical-section  = "1.1.1"
esp-backtrace = { version = "0.4.0", optional = true, features = ["exception-handler", "panic-handler", "print-uart"] }
esp32-hal = { version = "0.7.0", optional = true }
esp32c2-hal = { version = "0.2.0", optional = true }
esp32c3-hal = { version = "0.4.0", optional = true }
esp32s2-hal = { version = "0.4.0", optional = true }
esp32s3-hal = { version = "0.4.0", optional = true }
heapless = { version = "0.7.16", default-features = false }
md-5 = { version = "0.10.5", default-features = false }

[target.'cfg(target_arch = "riscv32")'.dependencies]
riscv = "0.10.0"
riscv-rt = "0.10.0"

[target.'cfg(target_arch = "xtensa")'.dependencies]
xtensa-lx = "0.7.0"
xtensa-lx-rt = "0.14.0"

[dev-dependencies]
assert2 = "0.3.7"
matches = "0.1.9"
mockall = "0.11.3"
mockall_double = "0.3.0"

[features]
esp32 = ["esp32-hal", "esp-backtrace/esp32"]
esp32s2 = ["esp32s2-hal", "esp-backtrace/esp32s2"]
esp32s3 = ["esp32s3-hal", "esp-backtrace/esp32s3"]
esp32c3 = ["esp32c3-hal", "esp-backtrace/esp32c3"]
esp32c2 = ["esp32c2-hal", "esp-backtrace/esp32c2"]
dprint = []

[profile.release]
strip = true
opt-level = "s" # temporary because of https://github.com/llvm/llvm-project/issues/57988
codegen-units = 1
lto = true
panic = "abort"
